.horizontalScrollGallery{
    background-color: white;
}
.sub-header{
    font-weight: 700;
    font-size: 3rem;
}
.scroll-animations > .scrollsection {
    /* padding: 10vh 10vh 10vh 10vmax; */
    min-width: 500vh;
    height: 60vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .scroll-animations > .scrollsection > .item {
    display: inline-block;
    position: relative;
    margin: 0 -20vh 0 3vh;
  }
  
  .scroll-animations > .scrollsection > .item::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  
  .scroll-animations > .scrollsection > .item.-big {
    height: 45vh;
    width: 50vh;
  }
  
  .scroll-animations > .scrollsection > .item.-big.-horizontal {
    height: 40vh;
    width: 80vh;
  }
  
  .scroll-animations > .scrollsection > .item.-normal {
    height: 50vh;
    width: 45vh;
    z-index: 1;
  }
  
  .scroll-animations > .scrollsection > .item.-normal.-horizontal {
    height: 35vh;
    width: 50vh;
  }
  
  .scroll-animations > .scrollsection > .item.-normal:nth-of-type(3n) {
    bottom: 5vh;
  }
  
  .scroll-animations > .scrollsection > .item.-normal:nth-of-type(4n) {
    bottom: -5vh;
  }
  
  .scroll-animations > .scrollsection > .item.-small {
    height: 30vh;
    width: 40vh;
    z-index: 2;
  }
  
  .scroll-animations > .scrollsection > .item.-small.-horizontal {
    height: 30vh;
    width: 40vh;
  }
  
  .scroll-animations > .scrollsection > .item.-small:nth-of-type(3n) {
    bottom: 13vh;
  }
  
  .scroll-animations > .scrollsection > .item.-small:nth-of-type(4n) {
    bottom: -13vh;
  }
  
  .scroll-animations > .scrollsection > .item > .image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(1);
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
    transform: translateX(0) translateY(0) scale(1);
    transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
  }
  
  .scroll-animations > .scrollsection > .item:nth-of-type(4n) > .image {
    transform: translateX(-30vh) translateY(-30vh) scale(0.8);
    transition-delay: 0;
  }
  
  .scroll-animations > .scrollsection > .item:nth-of-type(4n - 1) > .image {
    transform: translateX(30vh) translateY(30vh) scale(0.8);
    transition-delay: 0.05s;
  }
  
  .scroll-animations > .scrollsection > .item:nth-of-type(4n - 2) > .image {
    transform: translateX(-30vh) translateY(30vh) scale(0.8);
    transition-delay: 0.1s;
  }
  
  .scroll-animations > .scrollsection > .item:nth-of-type(4n - 3) > .image {
    transform: translateX(-30vh) translateY(-30vh) scale(0.8);
    transition-delay: 0.15s;
  }
  
  .scroll-animations > .scrollsection > .item > .image.-active {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0.8;
    pointer-events: auto;
    transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
  }
  
  .scroll-animations > .scrollsection > .item > .image.-clicked {
    transform: translateX(0) translateY(0) scale(5);
    opacity: 1;
    display: flex;
    justify-content: center;
    object-fit: contain !important;
    height: 15vh;
    width: 30vh;
    filter: grayscale(0);
    pointer-events: auto;
    transition: filter 1s ease, opacity 2s ease, transform 2s ease;
  }
  
  .scroll-animations > .scrollsection > .item > .image.-active:hover {
    height: 100%;
    width: 100%;
    position: absolute;
    object-position: center;
    object-fit: contain;
    inset: 0;
    margin: auto;
    filter: grayscale(0);
    opacity: 1;
    cursor: pointer;
    transform: translateX(0) translateY(0) scale(1.5);
    z-index: 100 !important;
    isolation: isolate;
  }
  @media screen and (max-width: 930px) {
    .scroll-animations > .scrollsection {
      min-width: 100vw !important;
      height: 50vh;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
    .scroll-animations > .scrollsection > .item:nth-of-type(4n) > .image {
      transform: translateX(-5vh) translateY(-5vh) scale(0.8);
      transition-delay: 0;
    }
  
    .scroll-animations > .scrollsection > .item:nth-of-type(4n - 1) > .image {
      transform: translateX(5vh) translateY(5vh) scale(0.8);
      transition-delay: 0.05s;
    }
  
    .scroll-animations > .scrollsection > .item:nth-of-type(4n - 2) > .image {
      transform: translateX(-5vh) translateY(5vh) scale(0.8);
      transition-delay: 0.1s;
    }
  
    .scroll-animations > .scrollsection > .item:nth-of-type(4n - 3) > .image {
      transform: translateX(-5vh) translateY(-5vh) scale(0.8);
      transition-delay: 0.15s;
    }
  }
  